*node_modules*
*DS_Store*
dist/
.env
.vscode/
.idea/
*.log
coverage/
*.iml
/build/
/out/
*.swp
Thumbs.db
*.bak
*.tmp
*.cache
*.orig
*.rej
*.class
*.exe
*.dll
*.so
*.dylib
*.pdb
*.log
*.zip
*.tar.gz
*.rar
*.7z
*.jar
*.war
*.ear
*.pyc
__pycache__/
*.egg-info/
.eggs/
pip-wheel-metadata/
.env/
.venv/
venv/
ENV/
env/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace
*.history/
.cache/
*.vscode/
*.tmproj

